.inicio{
    border: 2px white;
    display: flex;
    justify-content: space-between;
}
.inicio .lis {
    // margin-top: 25px;
    // margin-right: 25px;
    // padding: 25px;
    list-style-type: none;
}
.inicio .lis_i {
    margin-top: 25px;
    margin-right: 25px;
    padding: 25px;
}